# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:

city_df = pd.read_csv("output_data/cities.csv")
city_df.head()

,City_ID,City,Lat,Lan,Temp_max,Hum,Cloudness,WindSpeed,Country,Date
0,2,port hawkesbury,45.6169,-61.3485,44.60,93,90,3.44,CA,1617249425
1,3,atuona,-9.8000,-139.0333,80.92,78,69,13.33,PF,1617249425
2,4,luderitz,-26.6481,15.1594,66.60,59,0,11.95,NaN,1617249426
3,5,kilindoni,-7.9139,39.6668,80.15,80,100,16.93,TZ,1617249426
4,6,new norfolk,-42.7826,147.0587,80.01,30,99,7.00,AU,1617249426

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
g_key="AIzaSyCeKr-k0wFlVSE7rgekyqkC2u3daKdWElY"
gmaps.configure("AIzaSyCeKr-k0wFlVSE7rgekyqkC2u3daKdWElY")

In [13]:
 # Heatmap of humidity
locations = city_df[["Lat", "Lan"]]
humidity = city_df["Hum"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
n_df = city_df.loc[(city_df["Temp_max"] < 90) & (city_df["Temp_max"] > 65) \
                                    & (city_df["WindSpeed"] < 15) \
                                    & (city_df["Cloudness"] == 20)].dropna()
n_df

,City_ID,City,Lat,Lan,Temp_max,Hum,Cloudness,WindSpeed,Country,Date
14,17,georgetown,5.4112,100.3354,89.60,70,20,6.91,MY,1617249260
73,79,hambantota,6.1241,81.1185,84.20,89,20,9.22,LK,1617249438
95,105,nanakuli,21.3906,-158.1547,82.40,54,20,8.05,US,1617249442
103,114,hualmay,-11.0964,-77.6139,68.14,90,20,7.43,PE,1617249443
110,122,saint-philippe,-21.3585,55.7679,80.60,74,20,10.36,RE,1617249444
238,261,wattegama,6.7989,81.4808,84.20,89,20,9.22,LK,1617249468
306,335,cayenne,4.9333,-52.3333,79.00,88,20,9.66,GF,1617249480
312,341,san rafael del sur,11.8485,-86.4384,82.40,74,20,13.80,NI,1617249481
341,372,san pedro de macoris,18.4616,-69.2972,73.40,83,20,4.61,DO,1617249486
430,471,parnamirim,-5.9156,-35.2628,80.60,78,20,8.05,BR,1617249503
454,498,tubuala,9.5167,-79.0333,81.00,78,20,6.91,PA,1617249508
475,520,hangal,14.7667,75.1333,84.07,36,20,5.41,IN,1617249511
489,534,half moon bay,37.4636,-122.4286,71.60,54,20,1.14,US,1617249513
503,550,ulladulla,-35.3500,150.4667,77.00,44,20,5.75,AU,1617249517
544,593,mlonggo,-6.5333,110.7000,87.80,70,20,6.91,ID,1617249524
585,637,the valley,18.2170,-63.0578,77.00,69,20,11.50,AI,1617249531

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df = n_df[["City", "Country", "Lat", "Lan"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                     City Country      Lat       Lan Hotel Name
14             georgetown      MY   5.4112  100.3354
73             hambantota      LK   6.1241   81.1185
95               nanakuli      US  21.3906 -158.1547
103               hualmay      PE -11.0964  -77.6139
110        saint-philippe      RE -21.3585   55.7679
238             wattegama      LK   6.7989   81.4808
306               cayenne      GF   4.9333  -52.3333
312    san rafael del sur      NI  11.8485  -86.4384
341  san pedro de macoris      DO  18.4616  -69.2972
430            parnamirim      BR  -5.9156  -35.2628
454               tubuala      PA   9.5167  -79.0333
475                hangal      IN  14.7667   75.1333
489         half moon bay      US  37.4636 -122.4286
503             ulladulla      AU -35.3500  150.4667
544               mlonggo      ID  -6.5333  110.7000
585            the valley      AI  18.2170  -63.0578

In [17]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lan"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.

,City,Country,Lat,Lan,Hotel Name
14,georgetown,MY,5.4112,100.3354,Cititel Penang
73,hambantota,LK,6.1241,81.1185,Bungalow 63
95,nanakuli,US,21.3906,-158.1547,Camp Pālehua
103,hualmay,PE,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
110,saint-philippe,RE,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
238,wattegama,LK,6.7989,81.4808,
306,cayenne,GF,4.9333,-52.3333,Hôtel Le Dronmi
312,san rafael del sur,NI,11.8485,-86.4384,Hospedaje El Chino
341,san pedro de macoris,DO,18.4616,-69.2972,Apartahotel Guaraguao
430,parnamirim,BR,-5.9156,-35.2628,Pousada Joaci
454,tubuala,PA,9.5167,-79.0333,Río Nabagana
475,hangal,IN,14.7667,75.1333,SPOT ON 69194 Adishakti
489,half moon bay,US,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
503,ulladulla,AU,-35.3500,150.4667,Sandpiper Motel
544,mlonggo,ID,-6.5333,110.7000,Asia Metal Art
585,the valley,AI,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lan"]]

In [19]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))